@media screen and (max-width: 1000px) {
  body {
    background-color: rgb(240, 232, 232);
  }
  nav {
    flex-direction: column;
  }
  .logo {
    justify-content: center;
    margin: 12px 0;
  }
  nav ul {
    /* flex-direction: column; */
    align-items: flex-start;
    margin: 12px 0;
    padding: 0 0 20px 0;
    justify-content: center;
    height: 34px;
  }
  .search {
    margin-left: 18px;
    justify-content: center;
    margin-top: -48px;
  }

  .search input {
    margin: 12px 16px;
  }
  .card-item img{
    width: 140px;
  }
}
