@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --main-bg-color: #2874f0;
}

* {
  margin: 0;
  padding: 0;
}
/* Header Part */
header {
  background: var(--main-bg-color);
  /* border: 2px solid red; */
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 88px;
  padding: 0 25px;
}

nav ul {
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding: 0 23px;
}
nav ul li a {
  color: whitesmoke;
  text-decoration: none;
}
nav ul li a:hover {
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  margin: 0 16px 0 56px;
}
.search input {
  width: 493px;
  height: 34px;
  border-radius: 5px;
  margin: 0 5px;
  border-color: whitesmoke;
  border-style: none;
}
.search button {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
/* main part */
.container {
  height: calc(100vh - 58px - 12vh);
}
.slider {
  width: 46vw;
  margin: 12px auto;
}
.card {
  max-width: 80vw;
  margin: auto;
  /* background-color: #2874f0; */
}
.card h2 {
  font-family: "Lato", sans-serif;
}
/* footer part */
footer {
  height: 12vh;
  background-color: rgb(19, 18, 59);
  color: white;
}
